on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        default: staging
        type: choice
        options:
          - dev
          - staging
          - prod
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - run: echo "Deploying to '${{ inputs.environment }}' "
